@import '@braks/vue-flow/dist/style.css';
@import '@braks/vue-flow/dist/theme-default.css';

html,
body,
#app {
  margin: 0;
  height: 100%;
}

#app {
  text-transform: uppercase;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #e4e4e4;
  display: flex;
}

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.vue-flow__node-custom {
  background: #3f3f3f;
  color: white;
  --vf-handle: white;
  --vf-box-shadow: none;
  border-radius: 15px;
  padding: 10px;
  text-transform: capitalize;
}

.vue-flow__handle {
  border: 1px solid #3f3f3f;
}

.collapsible {
  color: black;
  background: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 0;
  outline: none;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  user-select: none;
}

.collapsible::after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  color: black;
  content: "\2212";
}

.aside {
  color: #fff;
  font-weight: 700;
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .3);
  box-shadow: 0 5px 10px #0000004d;
  align-items: center;
  min-width: 15%;
}

.aside .category {
  color: black;
  padding: 0 18px;
  transition: display 0.2s ease-out;
}

.aside .category > * {
  margin: 0 auto 10px;
}

.aside .controls {
  margin-bottom: 10px;
}

.vue-flow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.nodes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.custom__node {
  display: flex;
  justify-content: space-between;
  width: 160px;
  height: 32px;
}

.control {
  color: black;
  background: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 0;
  outline: none;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 5s fadein;
}

.control:hover {
  background: #ccc;
}

.snackbar {
  display: none;
  min-width: 250px;
  margin-left: -125px;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 15px;
}

.show {
  display: block;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 15px; opacity: 1; }
}

@keyframes fadeout {
  from { top: 15px; opacity: 1; }
  to { top: 0; opacity: 0; }
}

.title {
  color: black;
}