@import '@braks/vue-flow/dist/style.css';
@import '@braks/vue-flow/dist/theme-default.css';

html,
body,
#app {
  margin: 0;
  height: 100%;
}

#app {
  text-transform: uppercase;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #e4e4e4;
}

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.vue-flow__node-custom {
  background: #3f3f3f;
  color: white;
  --vf-handle: white;
  --vf-box-shadow: none;
  border-radius: 15px;
  padding: 10px;
  text-transform: capitalize;
}

.vue-flow__handle {
  border: 1px solid #3f3f3f;
}